@import url("https://fonts.googleapis.com/css?family=Akaya+Telivigala&display=swap");

.projects {
  display: inline-block;
  font-size: 1.7em;
  color: white;
  width: 100%;
  height: 100vh;
}

.indivProject {
  display: grid;
  grid-template-columns: 900px 120px;
}

.projImage img {
  width: 450px;
  height: 450px;
  margin-top: 150px;
}

@media screen and (min-width: 320px) {
  .projects {
    width: 100%;
    margin-left: 60px;
    height: 100%;
  }
}



.project-text {
  color: white;
  font-size: 0.8em;
  margin-left: 180px;
  margin-top: 240px;
}

.tech {
  margin-left: 250px;
  font-size: 0.7em;
  color: rgb(9, 150, 79);
}
@media screen and (min-width: 320px) {
  .project-text {
    margin-left: 80px;
    font-size: 1.7em;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .project-text {
    text-align: center;
  }
}



@media screen and (min-width: 1024px) {
  .indivProject {
    font-size: 0.4em;
    display: grid;
    grid-template-columns: 499px 120px;
    grid-gap: 180px;
  }
}

@media screen and (min-width: 768px) {
  .tech {
    margin-left: 0px;
  }
}

@media screen and (max-width: 320px) {
  .projImage img {
    display: none;
  }
}
a {
  text-decoration: none;
}

a:hover {
  color: saddlebrown;
}

h4 {
  color: rgb(15, 89, 102);
  text-align: center;
  font-size: 1.2em;
}
