@import url('https://fonts.googleapis.com/css?family=Akaya+Telivigala&display=swap');

.contact {
    width: 100%;
    height: 100vh
  }
  
  @media screen and (max-width: 360px) {
    .contact {
      width: 400px;
      margin-left: -10px;
      height: 1000px;
      }
    }    


  .contact-text {
    color: white;
    margin-top: 750px;
    font-size: 2em;
    width: 700px;
    margin-left: 450px;
  }

  .contact-text h1 {
   color: rgb(15, 89, 102);
  }

  @media screen and (max-width: 360px) {
    .contact-text {
    margin-left: 80px;
    font-size: 0.7em;
    width: 170px;
    }
  }  


.contactIcons{
    padding: 40px;
    
    cursor: pointer;
  }
  
@media screen and (max-width: 360px) {
  .contactIcons {
    width: 150px;
    margin-left: -10px;
    height: 1000px;
      }
}  

@media screen and (max-width: 640px) {
  .contactIcons {
    width: 150px;
    margin-left: -10px;
    height: 1000px;
      }
}


svg{
  margin: 20px;
}    

.contact button {
  margin-left: 200px;
}