ul.Headerlist {
    list-style-type: none;
    margin-left: 700px;
    width: 600px;
  }

 li{
    display: inline;
    padding: 8px;
    cursor: pointer;
    margin: 10px;
}  

a {
    color: rgb(3, 82, 42);
}


a:hover {
    color: rgb(15, 89, 102);
  }

div.NavBar{
    height: 50px;
    position: fixed;
    top: 5;
    width: 100%;
    background-color: rgb(3, 28, 53);
    z-index: 1;
}  