ul.Headerlist {
    list-style-type: none;
    margin-left: 700px;
    width: 600px;
  }

li{
    display: inline;
    padding: 8px;
    cursor: pointer;
    color: white;

    
}  


li:hover {
    color: rgb(15, 89, 102);
  }

div.NavBar{
    height: 50px;
    position: fixed;
    top: 5;
    width: 100%;
    background-color: rgb(39, 62, 83);
    z-index: 1;
}  