@import url('https://fonts.googleapis.com/css?family=Akaya+Telivigala&display=swap');


.experience{
    display: inline-block;
    font-size: 1.7em;
    color: white;
    min-height: 100vh;
    width: 100%;
  }
  
@media screen and (max-width: 360px) {
  .experience {
    width: 400px;
    margin-left: -10px;
    }
  }
  
  .exp-text{
    color: white;
    font-size: 1em;
    margin: 180px;
  }

@media screen and (max-width: 360px) {
    .exp-text {
    margin-left: 80px;
    font-size: 0.7em;
    width: 170px;
    }
  }

p{
    font-size: 0.9em;
}

h4{
    color: rgb(183, 195, 197);
}
