@import url("https://fonts.googleapis.com/css?family=Akaya+Telivigala&display=swap");

.experience {
  display: inline-block;
  color: white;
  min-height: 100vh;
  width: 100%;
}

@media screen and (min-width: 320px) {
  .experience {
    width: 1000px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .experience {
    width: 1200px;
    margin-left: 50px;
  }
}

.exp-text {
  color: white;
  margin: 180px;
}

@media screen and (max-width: 320px) {
  .exp-text {
    font-size: 1.7em;
    margin-left: 120px;
    width: 320px;
  }
}

.expList li {
  list-style-type: square;
  padding: 15px;
}

.exp-text h1 {
  color: rgb(15, 89, 102);
  text-align: center;
}

.exp-text h4 {
  color: rgb(9, 150, 79);
  font-size: 1.8em;
}
